<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <header>
            <img src="https://www.eltiempo.com/files/image_1200_680/uploads/2023/08/22/64e4c17f707b1.png"
            class="imagen">
            <h1>EL SEÑOR DE LOS CIELOS</h1>
        </header>
    <section class="BIOGRAFIA DE LA SERIE">
    </section>
    <section class="RAZONES POR LA QUE ME GUSTA LA SERIE">
    </section>
    <section class="RAZONES PARA SEGUIR VIENDO LA SERIE">
    </section>
       <section class="opcion">
       </section>
       <section class="opcion">
       </section>
    </section>
    </body>    
</body>
</html>